.article__card {
    margin: 10px 0;

    .mat-card-header {
        margin: 5px 0;
    }

    .mat-card-title {
        font-size: 2rem;
    }

    .article__card__image {
        padding: 10px;
    }
}