<div class="backoffice__container">
<mat-sidenav-container class="backoffice__sidenav">
  <mat-sidenav #sidenav id="sidenav" mode="side">    
  <mat-list>
    <mat-list-item class="sidemenu">
      <button color="accent" class="sidenav-button"  mat-button matTooltip="Coupon" routerLink="/">
    <mat-icon>desktop_windows</mat-icon>View Site</button>
  </mat-list-item>
    <mat-list-item>
      <button color="accent" class="sidenav-button"  mat-button matTooltip="Coupon" routerLink="/admin/articles"><mat-icon>description</mat-icon>Articles</button>
    </mat-list-item>
    <mat-list-item>
      <button color="accent" class="sidenav-button"  mat-button matTooltip="Coupon" routerLink="/admin/categories"><mat-icon>content_paste</mat-icon>Categories</button>
    </mat-list-item>
    <mat-list-item>
      <button color="accent" class="sidenav-button"  mat-button matTooltip="Coupon" routerLink="/admin/tags"><mat-icon>label_outline</mat-icon>Tags</button>
    </mat-list-item>
    <mat-list-item>
      <button color="accent" class="sidenav-button" mat-button matTooltip="Help" routerLink="/admin/users"><mat-icon>perm_identity</mat-icon>Users</button>
    </mat-list-item>
    <mat-list-item>
      <button color="accent" class="sidenav-button" mat-button matTooltip="Help" routerLink="/admin/settings"><mat-icon>settings</mat-icon>Settings</button>
    </mat-list-item>
    <mat-list-item>
        <button color="accent" class="sidenav-button" mat-button matTooltip="Help" routerLink="/"><mat-icon>exit_to_app</mat-icon>Log out</button>
    </mat-list-item>
  </mat-list>
</mat-sidenav>

  <mat-toolbar>
    <div class="filler"></div>
    <button class="menu__icon" mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <h1>NG CMS ADMIN PANEL</h1>
  </mat-toolbar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
  
</mat-sidenav-container>
</div>